@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap"); */

:root {
  --primary: #ec4899;
  --primary-light: #f9a8d4;
  --secondary: #c084fc;
  --sjs-primary-backcolor-dark: #e879f9;
  --font-family: inherit !important;
}
